# Intro to Python 

#### Holy Grail
* https://docs.python.org/3/

#### class videos 
* 11/12/19
* https://codingbootcamp.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=420c95bd-ead0-4144-a232-ab0400086654
* https://codingbootcamp.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=f51e1b91-7458-4e97-83dd-ab0400282d54
* 11/14/19
* https://codingbootcamp.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=a34c6ded-6b28-4cd0-b9d6-ab060008bf2b
* https://codingbootcamp.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=852cffe0-6824-4d73-827a-ab06002d3d55

In [2]:
python3 --version # how to tell which python version you have isntalled on your computer

In [9]:
type(10 / 1)

float

In [10]:
type(10 // 1)

int

#### // integer division = returns the floor (aka how many times the second # goes into the first # and ignores the remainder)

In [50]:
10 // 3

3

In [51]:
10 // 2

5

#### % mod = takes (first # / second #) and returns the remainder

In [2]:
10 % 3

1

In [17]:
20 % 3

2

#### ** square = first # squared to the power of the second # .

In [20]:
2 ** 2

4

In [21]:
2 ** 3

8

In [22]:
10 ** 2

100

In [24]:
10 ** 3

1000

#### "strings" with numbers

In [25]:
"10" + "1"

'101'

In [26]:
3 * "1"

'111'

### METHODS are tied to a particular type of object AND are tied to the particular instance of the object 

* upper() = uppercase the string
* lower() = lowercase the string
* swapcase() = switch upper to lower and lower to upper within the string
* split() = split the words in a string and return as a list
* strip() = removes trailing white space within the string
* replace() = you provide the thing you have and the thing you want to replace it with

In [54]:
"Michelle".upper()

'MICHELLE'

In [55]:
"Michelle".lower()

'michelle'

In [33]:
"Michelle Brucato".swapcase()

'mICHELLE bRUCATO'

In [37]:
"Michelle Brucato".split()

['Michelle', 'Brucato']

In [30]:
"My name is Michelle".split()

['My', 'name', 'is', 'Michelle']

In [34]:
"michelle brucato    ".strip()

'michelle brucato'

In [35]:
"    michelle brucato  ".strip()

'michelle brucato'

In [40]:
# method chaining
# order matters 
"    MICHELLE brucato ".strip().swapcase().split()

['michelle', 'BRUCATO']

In [41]:
"michelle".replace("l", "r")

'micherre'

In [47]:
"michelle brucato".replace("brucato", "guuu")

'michelle guuu'

In [49]:
"michelle brucato".replace("michelle", "silly").replace("brucato", "guuu")

'silly guuu'

### BOOLEANS are used for comparisons (True or False)
* 1 == 1 
* 1 != 1 
* 1 > 1 
* 1 <= 1

In [1]:
1.1 == 2.23

False

In [7]:
1.1 != 2.23

True

In [16]:
True == True

True

In [17]:
True == False

False

In [21]:
3 > 2 and 0 > 1

False

In [22]:
3 > 2 or 0 > 1

True

### User Inputs

In [24]:
name = "Michelle"
hello = "Hello " + name + "!"
print(hello)

Hello Michelle!

In [28]:
name = input("What is your name? ")
hello = "Hello " + name + "!"
print(hello)

What is your name? Michelle
Hello Michelle!

In [ ]:
def function_name(parameters):
    return behavior you want 

print(function_name("parameter"))

In [26]:
def template(name):
    return "Hello " + name + "!"

print(template("Michelle"))

Hello Michelle!

In [58]:
def template(name):
    return "Hello " + name + "!"

user_name = input("What is your name? ")
print(template(user_name))

What is your name? chelley
Hello chelley!

In [60]:
def template(name):
    return "Hello " + name.capitalize() + "!"

user_name = input("What is your name? ")
print(template(user_name))

What is your name? michelle
Hello Michelle!

In [32]:
name = input("What is your name? ")
months = input("How many months have you been coding? ")

print(name + " has been coding for " + months + " months")

What is your name? michelle
How many months have you been coding? 3
michelle has been coding for 3 months

In [34]:
name = input("What is your name? ")
months = input("How many months have you been coding? ")
years = int(months) / 12
print(name + " has been coding for " + str(years) + " years")

What is your name? michelle
How many months have you been coding? 2
michelle  has been coding for 0.16666666666666666 years

*** note *** 
when you want to DO MATH on STRINGS, you must convert the variable to an INT and THEN, to print the result, convert the INT variable to a STR: <br>-- years = int(months)
<br>-- print(str(years))

### CONDITIONS 


#### if ; elif ; else

In [ ]:
def function_name(condition a, condition b):
    if condition a:
        return somethinga
    elif condition b:
        return somethingb
    else:
        return somethingelse

In [54]:
a = input("Do you like pizza? (y/n) ")

if (a == "y") or (a == "Y"):
    print("Yay!")
else:
    print("Lame...")

Do you like pizza? (y/n) y
Yay!

In [42]:
# use "float" instead of "int" since grades usually have decimal points

g = float(input("Grade? "))

if g >= 90:
    print("A")
elif g >= 80: 
    print("B")
elif g >= 70:
    print("C")
else:
    print("F")

Grade? 69.9
F

### PRINT vs RETURN 

<br>
PRINT : simply shows the user a string representing what is going on inside the computer.  
<br>
RETURN : shows how a function gives back a value.

In [57]:
def function_that_prints():
    print("I printed")

def function_that_returns():
    return "I returned"

f1 = function_that_prints()
f2 = function_that_returns()
print("Now let us see what the values of f1 and f2 are")
print(f1)
print(f2)

I printed
Now let us see what the values of f1 and f2 are
None
I returned

### LIST METHODS

* .append() = add an element to a list 
* .pop() = remove an element from a list
* .insert() = insert an element at a specified index of the list
* .count() = calculates total occurance of a given element 
* .index()= returns the index # of a specified element
* [] index = returns the specified element at a given index #
* len() = calculates the total length of a list

In [61]:
l = [2, 17, 25, 4, 27, 16]

In [62]:
l.append(6)
l

[2, 17, 25, 4, 27, 16, 6]

In [64]:
l.pop(6)
l

[2, 17, 25, 4, 27, 16]

In [66]:
l.append(["a", "b"])
l

[2, 17, 25, 4, 27, 16, ['a', 'b']]

In [67]:
l.insert(0, "hi")
l

['hi', 2, 17, 25, 4, 27, 16, ['a', 'b']]

In [71]:
a = [3, 12, 8, 23, 19, 10, 3]

In [74]:
a.count(3)

2

In [76]:
len(a)

7

In [78]:
a.index(19)

4

In [79]:
a[4]

19

In [80]:
a[-1]

3

In [82]:
a[1:5]

[12, 8, 23, 19]

In [84]:
a[3:]

[23, 19, 10, 3]

In [85]:
a[:3]

[3, 12, 8]

#### Duck Typing Example

* 1st example: Return a list using duck typing
* 2nd example: Create a copy of a list and reverse the copy

In [92]:
class NeoList():
    
    def __init__(self, l):
        self.l = l
    
    def __str__(self):
        return str(self.l)

neo_list = NeoList([3, 6, 9])
print(neo_list)

[3, 6, 9]

In [93]:
class NeoList():
    
    def __init__(self, l):
        self.l = l
    
    def __str__(self):
        return str(self.l)
    
    def reverse(self):
        l_copy = self.l[:]
        l_copy.reverse()
        return l_copy

neo_list = NeoList([3, 6, 9])
print(neo_list)
print(neo_list.reverse())
print(neo_list)

[3, 6, 9]
[9, 6, 3]
[3, 6, 9]

### MODULES

In [108]:
import random

random.randint(1, 9)

1

In [116]:
# "len(l) - 1" returns the length of the list minus 1 

def random_choice(l):
    start_idx = 0 
    end_idx = len(l) - 1 

    idx = random.randint(start_idx, end_idx)
    random_choice = l[idx]
    
    return random_choice

print(random_choice([2, 5, 3, 7, 9, 6]))

7

In [117]:
len(l) - 1

4

### Using Random for R/P/S game

In [120]:
strategies = ["r", "p", "s"]
computer_strategy = random_choice(strategies)
player_strategy = input("Choose from (r/p/s): ")

if player_strategy == computer_strategy:
    print("Draw!")
elif player_strategy == "r":
    if computer_strategy == "s":
        print("Player Wins!")
    else:
        print("Computer Wins!")
elif player_strategy == "p":
    if player_strategy == "r":
        print("Player Wins!")
    else:
        print("Computer Wins!")
else:
    if computer_strategy == "p":
        print("Player Wins!")
    else:
        print("Computer Wins!")

Choose from (r/p/s): s
Player Wins!